# Build directories
builddir/

# Python cache
__pycache__/
*.pyc

# Packaging directories (maintained separately)
#aur/
#obs/
#debian/
#copr/

# Ignore help files
workflow.md

# Ignore generated GTK UI files
src/gtk/recovery_dialog.cmb
src/gtk/window.cmb
src/gtk/file_types.cmb
src/custom_signature_dialog.cmb
src/smart_dialog.cmb

docs/
