# Build directories
builddir/

# Python cache
__pycache__/
*.pyc

# Ignore help files
workflow.md

# Ignore generated GTK UI files
src/gtk/recovery_dialog.cmb
src/gtk/window.cmb
src/gtk/file_types.cmb
